<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= profile.userName %> - Disbot.top</title>
		<%- include("partials/head.ejs") %>
        <meta name="description" content="<%= profile.bio %>" />
		<meta property="og:title" content="<%= profile.userName %> - User Profile" />
        <link rel="stylesheet" href="/assets/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<header id="header">
                        <%- include("partials/header.ejs", { discordInfo: discordInfo }) %>
					</header>
					<!-- ---------------------- -->
					<section id="home-section">
						<% if(alerts["user"].title !== "") { %>
                            <div id="container08" class="container default">
                                <div class="wrapper">
                                    <div class="inner">
                                        <p id="text39"><%= alerts["user"].title %></p>
                                        <p id="text41"><%= alerts["user"].content %></p>
                                    </div>
                                </div>
                            </div>
						<% } %>
                        <!-- -----------Paid Promotion----------- -->
                        <div id="container25" class="container columns">
                            <div class="wrapper">
                                <div class="inner">
                                    <div>
                                        <div id="image21" class="image">
                                            <span class="frame"><img src="<%= ad.imgLink %>" alt="" /></span>
                                        </div>
                                    </div>
                                    <div>
                                        <p id="text126"><%= ad.title %></p>
                                        <p id="text127"><%= ad.contact %></p>
                                        <hr id="divider41">
                                        <ul id="buttons32" class="buttons">
                                            <li>
                                                <a href="<%= ad.extLink %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                                            </li>
                                        </ul>
                                        <p id="text128"><u>Paid Promotion</u></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- -----------User Profile----------- -->
                        <div id="container07" class="container columns">
                            <div class="wrapper">
                                <div class="inner">
                                    <div>
                                        <div id="image20" class="image">
                                            <span class="frame"><img src="<%= profile.userIcon %>" alt="" /></span>
                                        </div>
                                    </div>
                                    <div>
                                        <p id="text59"><%= profile.userName %></p>                                        
                                        <p id="text58"><%= profile.bio %></p>
                                        <hr id="divider18">
                                        <% if(profile.userId == discordInfo.id) { %>
                                            <form enctype="application/x-www-form-urlencoded" id="form03" method="post" action="/backend/user/<%= profile.userId %>/bio/update">
                                                <div class="inner">
                                                    <div class="field">
                                                        <input type="text" name="bio" id="form03-bio" value="<%= profile.bio %>" maxlength="256" />
                                                    </div>
                                                    <div class="actions">
                                                        <button type="submit">Update Bio</button>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" value="form03" />
                                            </form>
                                            <form enctype="application/x-www-form-urlencoded" id="form04" method="post" action="/backend/user/<%= profile.userId %>/discord/update">
                                                <div class="inner">
                                                    <div class="field">
                                                        <input type="text" name="discordlink" id="form04-discord-link" value="<%= profile.discordSocial %>" maxlength="256" />
                                                    </div>
                                                    <div class="actions">
                                                        <button type="submit">Update Discord</button>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" value="form04" />
                                            </form>
                                            <form enctype="application/x-www-form-urlencoded" id="form05" method="post" action="/backend/user/<%= profile.userId %>/github/update">
                                                <div class="inner">
                                                    <div class="field">
                                                        <input type="text" name="githublink" id="form05-github-link" value="<%= profile.githubSocial %>" maxlength="256" />
                                                    </div>
                                                    <div class="actions">
                                                        <button type="submit">Update GitHub</button>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" value="form05" />
                                            </form>
                                            <form enctype="application/x-www-form-urlencoded" id="form01" method="post" action="/backend/user/<%= profile.userId %>/twitter/update">
                                                <div class="inner">
                                                    <div class="field">
                                                        <input type="text" name="twitterlink" id="form01-twitter-link" value="<%= profile.twitterSocial %>" maxlength="256" />
                                                    </div>
                                                    <div class="actions">
                                                        <button type="submit">Update Twitter</button>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" value="form01" />
                                            </form>
                                        <% } %>

                                    </div>
                                    <div>
                                        <% if(botDev) { %>
                                            <p id="text135"><span style="color: gray;">Tag: </span><span style="color: yellow">Bot Developer</span></p>
                                        <% } %>
                                        <p id="text64"><span style="color: gray;">Permission:</span> <%- permCon("noncode", profile.perm) %></p>
                                        <p id="text06"><span style="color: gray;">ID:</span> <code><%= profile.userId %></code></p>
                                        <% if(discordInfo.perm > 0) { %>
                                            <p id="text62"><span style="color: gray;">Blacklisted:</span> <%- permCon("blacklisted", profile.blacklisted) %></p>
                                            <p id="text17"><span style="color: gray;">Post Ban:</span> <%- permCon("pban", profile.postban) %></p>
                                        <% } %>
                                        <hr id="divider19">
                                        <p id="text63">Social Links</p>
                                        <ul id="buttons19" class="buttons">
                                            <% if(profile.discordSocial !== 'null') { %>
                                                <li>
                                                    <a href="<%= profile.discordSocial %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#discord"></use></svg><span class="label">Discord</span></a>
                                                </li>
                                            <% } %>
                                            <% if(profile.githubSocial !== 'null') { %>
                                                <li>
                                                    <a href="<%= profile.githubSocial %>" class="button n02"><svg><use xlink:href="/assets/icons.svg#github"></use></svg><span class="label">Github</span></a>
                                                </li>
                                            <% } %>
                                            <% if(profile.twitterSocial !== 'null') { %>
                                                <li>
                                                    <a href="<%= profile.twitterSocial %>" class="button n03"><svg><use xlink:href="/assets/icons.svg#twitter"></use></svg><span class="label">Twitter</span></a>
                                                </li>
                                            <% } %>
                                        </ul>
                                        <% if(discordInfo.perm > 1) { %>
                                            <hr id="divider20">
                                            <p id="text60">Staff Actions</p>
                                            <ul id="buttons18" class="buttons">
                                                <li>
                                                    <a href="/backend/blacklist/<%= profile.userId %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#lock-alt"></use></svg><span class="label">Blacklist</span></a>
                                                </li><li>
                                                    <a href="/backend/postban/<%= profile.userId %>" class="button n02"><svg><use xlink:href="/assets/icons.svg#lock-alt"></use></svg><span class="label">Post Ban</span></a>
                                                </li>
                                            </ul>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p id="text38"><%= profile.userName %>'s Bots</p>
                        <hr id="divider13">
                        <% profileBots.forEach(elementTop => {
                            let online = false;
                            let lastOnlinePlus1h = Number(elementTop.onlineStamp) + 3600000;
                            let current = Date.now();
                            if(lastOnlinePlus1h < current) { 
                                online = false;
                            } else {
                                online = true;
                            }
                            let desc = elementTop.shortDesc.substring(0, 135) + '...'; %>
                            <div id="container91" class="container columns">
                                <div class="wrapper">
                                    <div class="inner">
                                        <div>
                                            <div id="image41" class="image">
                                                <span class="frame"><img src="<%= elementTop.botIcon %>" alt="" /></span>
                                            </div>
                                        </div>
                                        <div>
                                            <p id="text301"><%= elementTop.botName %></p>
                                            <p id="text302"><code><a href="/user/<%= elementTop.creatorId %>"> <span style="color: white;"><i class="bi bi-person"></i> <%= elementTop.creatorName %></span></a></code> 
                                                <% if(elementTop.tagFun) { %>
                                                    <code><a href="/search/?q=tag:Fun">#FUN</a></code>
                                                <% } if(elementTop.tagGames) { %>
                                                    <code><a href="/search/?q=tag:Games">#GAMES</a></code>
                                                <% } if(elementTop.tagMusic) { %>
                                                    <code><a href="/search/?q=tag:Music">#MUSIC</a></code>
                                                <% } if(elementTop.tagEco) { %>
                                                    <code><a href="/search/?q=tag:Eco">#ECO</a></code>
                                                <% } if(elementTop.tagMod) { %>
                                                    <code><a href="/search/?q=tag:Mod">#MOD</a></code>
                                                <% } if(elementTop.tagAutomod) { %>
                                                    <code><a href="/search/?q=tag:Automod">#AUTOMOD</a></code>
                                                <% } if(elementTop.tagLeveling) { %>
                                                    <code><a href="/search/?q=tag:Leveling">#LEVELLING</a></code>
                                                <% } if(elementTop.tagSocial) { %>
                                                    <code><a href="/search/?q=tag:Social">#SOCIAL</a></code>
                                                <% } if(elementTop.tagUtility) { %>
                                                    <code><a href="/search/?q=tag:Utility">#UTILITY</a></code>
                                                <% } %>
                                            </p>
                                            <hr id="divider104">
                                            <p id="text302"><%= desc %></p>
                                        </div>
                                        <div>
                                            <ul id="buttons63" class="buttons">
                                                <li>
                                                    <a href="<%= elementTop.inviteUrl %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                                                </li><li>
                                                    <a href="/bot/<%= elementTop.botId %>" class="button n02"><svg><use xlink:href="/assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                                                </li>
                                            </ul>
                                            <hr id="divider105">
                                            <p id="text303"><span style="color: yellow"><%= elementTop.votes %> upvotes</span> | <span style="color: #5877C7">Rating: <%= elementTop.avgRating %>/5</span></p>
                                            <% if(elementTop.onlineStamp) { %>
                                                <% if(online) { %>
                                                    <p id="text303">Status: <span style="color: #93ff3d">Online</span></p>
                                                <% } else { %>
                                                    <p id="text303">Status: <span style="color: #dc3545">Offline</span></p>
                                                <% } %>
                                            <% } else { %>
                                                <p id="text303">Status: Unknown</p>
                                            <% } %>
                                            <% if(elementTop.serverCount > 0) { %>
                                                <p id="text303">Servers: <%= elementTop.serverCount %></p>
                                            <% } else { %>
                                                <p id="text303">Servers: Unknown</p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
					</section>
					<!-- ---------------------- -->
					<footer id="footer">
						<%- include("partials/footer.ejs") %>
					</footer>
				</div>
			</div>
		</div>
        <script src="/assets/main.js"></script>
	</body>
</html>